@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 210 44% 98%;
    --foreground: 221 39% 11%;
    --card: 0 0% 100%;
    --card-foreground: 221 39% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 221 39% 11%;
    --primary: 188 36% 28%;
    --primary-foreground: 200 47% 96%;
    --secondary: 216 28% 66%;
    --secondary-foreground: 217 33% 16%;
    --muted: 220 15% 92%;
    --muted-foreground: 220 15% 40%;
    --accent: 179 40% 63%;
    --accent-foreground: 188 37% 18%;
    --destructive: 3 78% 61%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 18% 86%;
    --input: 210 18% 86%;
    --ring: 188 36% 28%;
    --chart-1: 188 36% 28%;
    --chart-2: 216 28% 66%;
    --chart-3: 179 40% 63%;
    --chart-4: 204 56% 72%;
    --chart-5: 158 32% 45%;
    --radius: 0.65rem;
  }
  .dark {
    --background: 222 46% 9%;
    --foreground: 210 40% 96%;
    --card: 222 46% 10%;
    --card-foreground: 210 40% 96%;
    --popover: 222 46% 10%;
    --popover-foreground: 210 40% 96%;
    --primary: 188 36% 54%;
    --primary-foreground: 222 46% 10%;
    --secondary: 216 28% 70%;
    --secondary-foreground: 222 46% 10%;
    --muted: 222 30% 18%;
    --muted-foreground: 219 16% 65%;
    --accent: 179 40% 60%;
    --accent-foreground: 222 46% 10%;
    --destructive: 3 78% 61%;
    --destructive-foreground: 210 40% 96%;
    --border: 222 32% 22%;
    --input: 222 32% 22%;
    --ring: 188 36% 54%;
    --chart-1: 188 36% 54%;
    --chart-2: 216 28% 70%;
    --chart-3: 179 40% 60%;
    --chart-4: 204 56% 70%;
    --chart-5: 158 32% 45%;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    background: radial-gradient(circle at 20% 20%, #e6f2f7 0%, #f7fbff 32%),
      radial-gradient(circle at 80% 0%, #e7f3f6 0%, transparent 28%),
      linear-gradient(180deg, #f8fbfe 0%, #f0f5fb 50%, #f7fbfe 100%);
  }
} */
